@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500&family=Kaushan+Script&family=Lobster+Two:ital,wght@1,700&display=swap");
:root {
  --primary: #a5c882;
  --secondary: #d33f49;
  --light: #fff;
  --dark: #000;
  --diabled: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}
/*CENTRA EL FORM*/
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* overflow: hidden; */
  /* background-image: url(../Recursos/Fondo5.jpg); */
  background-color: rebeccapurple;
  overflow-x: hidden;
}
/*BARRA DE NAVEGACION*/
header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #06113b;
  color: white;
  padding: 25px;
}
header .navbar .ll {
  font-family: "Lobster Two", cursive;
  font-size: 55px;
  margin-top: 5px;
  color: rgb(242, 237, 244);
}
header .navbar a {
  font-family: "Poppins", sans-serif;
  color: white;
  padding-left: 35px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  justify-items: center;
  align-items: center;
}

.navbar a:hover {
  color: rgb(246, 217, 209);
  opacity: 1;
  font-weight: 900;
}
/*TEXTO ANIMADO*/
.section {
  background: #40a7a7;
  user-select: none;
}

.center {
  position: absolute;
  top: 45%;
  left: 4%;
  transform: traslate (-50%, -50%);
  z-index: 1;
}

.text h3 {
  font-size: 30px;
  color: #f2f9f9;
}

.text h4 {
  font-size: 30px;
  color: #f5fafa;
}
.slider {
  /* border:10px solid blue;*/
  font-size: 26px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.slide {
  overflow: hidden;
  height: 40px;
}

.slide div div {
  display: inline-block;
  color: rgb(248, 240, 240);
  font-size: 23px;

  padding: 4px 12px;
  border-radius: 2px;
  margin-bottom: 45px;
}

.slide div:nth-child(1) div {
  background: #b751b7;
}

.slide div:nth-child(2) div {
  background: #0dd1ab;
}

.slide div:nth-child(3) div {
  background: #291338;
}

.slide div:nth-child(1) {
  animation: animated 5s linear infinite;
}

@keyframes animated {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

/*FOOTER*/
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .footer1 {
  display: grid;
  grid-template-columns: 35% auto auto auto;
  font-family: "poppins", sans-serif;
  color: white;
  background-color: #06113b;
  width: 100%;
  height: 150px;
  padding: 20px 0 20px 20px;
  /* margin:auto */
}

footer .footer2 {
  color: white;
  background-color: #06113b;
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 10px;
}

.footer2 h4 {
  font-size: 11px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

footer .look {
  margin-top: 10px;
  font-family: "Lobster Two", cursive;
  text-decoration: none;
  font-size: 35px;
  color: white;
}
footer h4 {
  margin-top: 10px;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

footer h3 {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.lado2 {
  margin-top: 20px;
}

/*ICONOS*/
.lado1 a {
  display: inline-block;
  margin-top: 3%;
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}

.lado2 a {
  display: flex;
  margin-top: 1%;
  text-decoration: none;
  font-size: 10px;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}
/*FIN FOOTER*/

::selection {
  color: #fff;
  background: #d43f8d;
}

.area {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40% 60%;
  grid-template-areas: "areaA areaB";
}

.areaA {
  grid-area: areaA;
  width: 100%;
}
.areaB {
  grid-area: areaB;
  width: 100%;
}

.container {
  /* border: 10px solid wheat; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 90%;
  background-color: aliceblue;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px 0px 10px 30px;
  margin: 30px 2px 30px 50px;
  position: relative;
  font-family: "poppins", sans-serif;
  grid-area: containerA;
}

.container h2 {
  font-family: "poppins", sans-serif;
  color: #4f216d;
  font-weight: 600;
  margin-top: 30px;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
  /* background-color: #a5c882; */
  padding-left: 115px;
  padding-right: 0;
}

.container .form-outer form {
  display: flex;
  width: 500%;
  align-items: left;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;

  color: #4f216d;
}
input {
  text-indent: 7mm;
}

.form-outer form .page .field {
  height: 40px;
  width: 50%;
  margin: 35px 0;
  padding-left: 40px;
  padding-right: 20px;
  display: flex;
  position: relative;
  align-items: center;
}

.form-outer form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form .page .field input {
  height: 80%;
  width: 100%;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: rgb(77, 41, 105);
  margin-top: -20px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
form .page .field button:hover {
  background: blueviolet;
}
form .page .btns button {
  margin-top: -20px !important;
}
form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next {
  margin-left: 3px;
}
.container .progress-bar {
  display: flex;
  margin: 30px 0;
  user-select: none;
}
.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #4f216d;
  margin-bottom: 8px;
}
.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #4f216d;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active {
  border-color: blueviolet;
  background: rgba(137, 43, 226, 0.613);
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #4f216d;
}

.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -130px;
  height: 3px;
  width: 110px;
  background: #9467b1;
}
.progress-bar .step .bullet.active:after {
  background: rgb(152, 93, 197);
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.2s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #d43f8d;
  transition: 0.2s linear;
}

.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: white;
}
@media (max-width: 1200px) {

  body {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  /* header {
        width: 100vw;
       } */
  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .area {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 30% auto;
    grid-template-areas: "areaA" "areaB";
  }
  .areaA {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center {
    top: 15%;
    left: 20%;
    text-align: center;
  }

  .slider {
    /* border:10px solid blue;*/
    font-size: 29px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .slide {
    overflow: hidden;
    height: 45px;
  }

  .areaB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .container {
    width: 70%;
    padding: 10px 5px 10px 5px;
    margin-left: 50px;
  }

  /* main .container .progress-bar {
            display: flex;
            flex-direction: row;
          } */
  /* .progress-bar .step p{
            padding: 2px;    
        } */
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after {
    width: 70px;
    top: 10px;
    left: 50px;
  }

  main .container .form-outer {
    padding-left: 80px;
  }
  footer {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    /* height: 30%; */
    width: 100vw;
  }
  /* 
          footer .footer2 {
            width: 100%;
          } */
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .navbar a:first-child {
    padding-left: 0px;
  }
  header .navbar a {
    padding-left: 130px;
  }
  .area {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% auto;
    grid-template-areas: "areaA" "areaB";
    /* width: 100%; */
    height: auto;
    margin-bottom: 50px;
  }
  .area .areaA {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
  }
  /*TEXTO ANIMADO*/
  /* .section{
    background: #40a7a7;
    user-select: none;
} */

  .center {
    /* position: absolute; */
    top: 30%;
    left: 4%;
    /* transform:traslate (-50%, -50%);
    z-index: 1; */
  }

  .slider {
    /* border:10px solid blue;*/
    font-size: 26px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .slide {
    overflow: hidden;
    height: 40px;
  }

  .slide div div {
    display: inline-block;
    color: rgb(248, 240, 240);
    font-size: 23px;
    height: 100%;
    padding: 4px 12px;
    border-radius: 2px;
    margin-bottom: 45px;
  }

  .slide div:nth-child(1) div {
    background: #b751b7;
  }

  .slide div:nth-child(2) div {
    background: #0dd1ab;
  }

  .slide div:nth-child(3) div {
    display: none;
  }

  .slide div:nth-child(1) {
    animation: animated 5s linear infinite;
  }

  @keyframes animated {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
  }

  main .container {
    width: 320px;
    padding: 10px 5px 10px 5px;
    /* background-color: red; */
    margin: 0;
  }

  main .container .progress-bar {
    display: flex;
    flex-direction: row;
  }
  .progress-bar .step p {
    padding: 2px;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after {
    display: none;
  }

  main .container .form-outer {
    padding-left: 20px;
  }
  footer {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  footer .footer1 {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 94%;
  }
  footer .footer1 .lado1,
  footer .footer1 .lado2 {
    width: 90%;
    margin: 0;
  }

  footer .footer2 {
    width: 94%;
  }
}
